[Unit]
Description=Joyent smartos-vmtools: set-root-authorized-keys
ConditionFileIsExecutable=/lib/smartdc/set-root-authorized-keys

[Service]
Type=oneshot
ExecStart=/lib/smartdc/set-root-authorized-keys
RemainAfterExit=yes
TimeoutSec=60

[Install]
WantedBy=multi-user.target
