[Unit]
Description=Joyent smartos-vmtools: format-secondary-disk
ConditionFileIsExecutable=/lib/smartdc/format-secondary-disk

[Service]
Type=oneshot
ExecStart=/lib/smartdc/format-secondary-disk
TimeoutSec=0

[Install]
WantedBy=multi-user.target
